/*Variables globales*/
:root{
    --ColorFav: rgb(9, 9, 151);
}


/*     Pie de Página            */
/* ---------------------------- */
footer{
    background-color: var(--ColorFav);    
    clear: both;
    color: aliceblue;
    padding: 0.5em 0;
    margin-top: 1em;
    text-align: center;
    border-top: #000000 2px solid;
    /* Gradiente del footer */
    background: #5f74af; /* Old browsers */
    background: -moz-linear-gradient(top,  #5f74af 0%, #090997 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5f74af 0%,#090997 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5f74af 0%,#090997 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f74af', endColorstr='#090997',GradientType=0 ); /* IE6-9 */
}